/* Global Notification Styles */
.notification {
  border-radius: 4px;
  padding: 16px;
  margin: 8px;
  display: flex;
  align-items: center;
}

/* Positions */
.top-left {
  position: fixed;
  top: 0;
  left: 0;
}
.top-right {
  position: fixed;
  top: 0;
  right: 0;
}
.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
}
.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}
.top {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.left {
  position: fixed;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
}
.right {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Types */
.success {
  background-color: #dff2bf;
}
.error {
  background-color: #ed8181;
}
.warning {
  background-color: #fef3b5;
}
.info {
  background-color: #c2e4fc;
}

/* Smoke Animation */
.smoke {
  position: absolute;
  bottom: 0;
  left: 0;
  /* animation: fadeInOut 1s ease-in-out; */
}

.image {
  border-radius: 25%;
}

.content {
  padding-left: 10px;
}

.title {
  font-size: 1.5rem;
}

.message {
  font-size: 1.25rem;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
